# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: StandAloneDouyin

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.19'

    - name: Set up and start MySQL
      run: |
        sudo apt-get install -y mysql-server
        sudo service mysql start

    - name: Try connect to MySQL
      run: |
        sudo mysql -uroot -proot
    
    - name: Start Redis
      uses: supercharge/redis-github-action@1.6.0
      with:
        redis-port: 6379

    - name: Start test
      run: |
        sudo apt install ginkgo
        cd tests 
        bash ./start_douyin.sh
        ginkgo ./integration
